{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}{{ title }} - CCNP ENCOR 対策問題{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">{{ title }}</h1>
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ render_form(form, action=url_for('edit_profile'), method='post') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}